{% extends "admin/home_admin.html" %}

{% block contenido %}
    <div class="content">
        <div class="row">
            <div class="col-6 col-xl-3">
                <a class="block block-rounded block-link-pop text-end" href="javascript:void(0)">
                    <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center border-black-op-b border-3">
                        <div class="d-none d-sm-block">
                            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor"
                                class="bi bi-bar-chart si si-bar-chart fa-2x text-primary-light"
                                viewBox="0 0 16 16">
                                <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z" />
                            </svg>
                        </div>
                        <div class="text-end">
                            <div class="fs-3 fw-semibold">{{cantidad_ventas}}</div>
                            <div class="fs-sm fw-semibold text-uppercase text-muted">Citas Facturadas</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-xl-3">
                <a
                    class="block block-rounded block-link-pop text-end"
                    href="javascript:void(0)">
                    <div
                        class="block-content block-content-full d-sm-flex justify-content-between align-items-center border-black-op-b border-3">
                        <div class="d-none d-sm-block">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                width="42" height="42"
                                fill="currentColor"
                                class="bi bi-trophy si si-trophy fa-2x text-earth-light"
                                viewBox="0 0 16 16">
                                <path
                                    d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5q0 .807-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33 33 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935m10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935M3.504 1q.01.775.056 1.469c.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.5.5 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667q.045-.694.056-1.469z" />
                            </svg>
                        </div>
                        <div class="text-end">
                            <div class="fs-3 fw-semibold">${{ganancia_total}}</div>
                            <div class="fs-sm fw-semibold text-uppercase text-muted">Ganancia Total</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-xl-3">
                <a
                    class="block block-rounded block-link-pop text-end"
                    href="javascript:void(0)">
                    <div
                        class="block-content block-content-full d-sm-flex justify-content-between align-items-center border-black-op-b border-3">
                        <div class="d-none d-sm-block">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                width="42" height="42"
                                fill="currentColor"
                                class="bi bi-envelope-paper si si-envelope-letter fa-2x text-elegance-light"
                                viewBox="0 0 16 16">
                                <path
                                    d="M4 0a2 2 0 0 0-2 2v1.133l-.941.502A2 2 0 0 0 0 5.4V14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5.4a2 2 0 0 0-1.059-1.765L14 3.133V2a2 2 0 0 0-2-2zm10 4.267.47.25A1 1 0 0 1 15 5.4v.817l-1 .6zm-1 3.15-3.75 2.25L8 8.917l-1.25.75L3 7.417V2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1zm-11-.6-1-.6V5.4a1 1 0 0 1 .53-.882L2 4.267zm13 .566v5.734l-4.778-2.867zm-.035 6.88A1 1 0 0 1 14 15H2a1 1 0 0 1-.965-.738L8 10.083zM1 13.116V7.383l4.778 2.867L1 13.117Z" />
                            </svg>
                        </div>
                        <div class="text-end">
                            <div class="fs-3 fw-semibold">{{cant_citas_pendientes}}</div>
                            <div class="fs-sm fw-semibold text-uppercase text-muted">Solicitudes</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-xl-3">
                <a class="block block-rounded block-link-pop text-end" href="javascript:void(0)">
                    <div
                        class="block-content block-content-full d-sm-flex justify-content-between align-items-center border-black-op-b border-3">
                        <div class="d-none d-sm-block">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                width="42" height="42"
                                fill="currentColor"
                                class="bi bi-fire si si-fire fa-2x text-corporate-light"
                                viewBox="0 0 16 16">
                                <path
                                    d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15" />
                            </svg>
                        </div>
                        <div class="text-end">
                            <div class="fs-3 fw-semibold">{{online}}</div>
                            <div class="fs-sm fw-semibold text-uppercase text-muted">Online</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            Citas <small>Esta Semana</small>
                        </h3>
                    </div>
                    <div class="block-content block-content-full">
                        <div class="pull pt-4">
                            <canvas id="js-chartjs-dashboard-lines" style="height: 290px"></canvas>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="row items-push text-center">
                            <div class="col-12 col-sm-4">
                                <div class="fs-4 fw-semibold">{{cant_citas_semana}}</div>
                                <div class="fs-sm fw-semibold text-uppercase text-muted">Esta Semana</div>
                            </div>
                            <div class="col-6 col-sm-4">
                                <div class="fs-4 fw-semibold">
                                    {{cant_citas_mes}}
                                </div>
                                <div
                                    class="fs-sm fw-semibold text-uppercase text-muted">
                                    Este Mes
                                </div>
                            </div>
                            <div class="col-6 col-sm-4">
                                <div class="fs-4 fw-semibold">{{cant_citas_anio}}</div>
                                <div class="fs-sm fw-semibold text-uppercase text-muted">
                                    Este Año
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            Facturación <small>Esta Semana</small>
                        </h3>
                    </div>
                    <div class="block-content block-content-full">
                        <div class="pull pt-4">
                            <canvas id="js-chartjs-dashboard-lines2" style="height: 290px"></canvas>
                        </div>
                    </div>
                    <div class="block-content bg-body-extra-light">
                        <div class="row items-push text-center">
                            <div class="col-6 col-sm-4">
                                <div class="fs-4 fw-semibold">
                                    ${{facturacion_semana_actual}}
                                </div>
                                <div class="fs-sm fw-semibold text-uppercase text-muted">
                                    Esta Semana
                                </div>
                            </div>
                            <div class="col-6 col-sm-4">
                                <div class="fs-4 fw-semibold">${{facturacion_mes_actual}}</div>
                                <div class="fs-sm fw-semibold text-uppercase text-muted">
                                    Este Mes
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="fs-4 fw-semibold">
                                    ${{facturacion_ano_actual}}
                                </div>
                                <div class="fs-sm fw-semibold text-uppercase text-muted">
                                    Balance Anual
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="block block-rounded"
                    href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            width="42" height="42"
                            fill="currentColor"
                            class="bi bi-person fa-2x text-body-bg-dark"
                            viewBox="0 0 16 16">
                            <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                        </svg>
                        <div class="row pt-2 pb-4 text-center">
                            <div class="col-6 border-end">
                                <div class="fs-3 fw-semibold">{{cant_client_verify}}</div>
                                <div class="fs-sm fw-semibold text-uppercase text-muted">Clientes Verificados</div>
                            </div>
                            <div class="col-6">
                                <div class="fs-3 fw-semibold">{{cant_clients}}</div>
                                <div class="fs-sm fw-semibold text-uppercase text-muted">Clientes</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a class="block block-rounded"
                    href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <div class="text-end">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                width="42" height="42"
                                fill="currentColor"
                                class="bi bi-wallet2 fa-2x text-body-bg-dark"
                                viewBox="0 0 16 16">
                                <path
                                    d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z" />
                            </svg>
                        </div>
                        <div class="row pt-2 pb-4 text-center">
                            <div class="col-6 border-end">
                                <div class="fs-3 fw-semibold">${{facturas_hoy}}</div>
                                <div class="fs-sm fw-semibold text-uppercase text-muted">Hoy</div>
                            </div>
                            <div class="col-6">
                                <div class="fs-3 fw-semibold">${{factura_semana_anterior}}</div>
                                <div class="fs-sm fw-semibold text-uppercase text-muted">
                                    Semana Pasada
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock  %}